@media only screen and (max-width: 768px) {
  .tabs-wrap {
    flex-direction: column;
    border-radius: 5px;
  }

  .tabs-content {
    width: 100%;
  }

  .tabs-btn {
    width: 100%;
    background-color: #f9fafb;
    border-right: 1px solid #e5e7eb;
  }

  .tabs-btn ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: scroll;
  }

  .tabs-btn ul li {
    border-left: 0px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .tabs-btn ul li.active-btn {
    background-color: #eef2ff;
    border-bottom: 2px solid #6366f1;
  }
}

@media only screen and (max-width: 576px) {
  .tabs-sec {
    padding-block: 50px;
  }

  .tabs-content {
    width: 100%;
    padding: 20px;
    background-color: white;
  }

  .tabs-main-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .tabs-content p {
    font-size: 14px;
  }

  .tabs-btn ul li a {
    font-size: 14px;
  }
}
